header {
  border-bottom: solid 1px;
  height: 12vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;

  h2 {
    font-size: 1.12rem;
  }
}
.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}
.linkHome {
  font-size: 1.25rem;
  padding: 10px 20px;
  color: #000;
  font-weight: 500;
}
.linkvoluntario {
  font-size: 1.25rem;
  color: #fff;
  padding: 12px 25px;
  background-color: #00745a;
  border-radius: 10px;
}
.hamburger {
  display: none;
}
@media (max-width: 768px) {
  header {
    padding: 0 20px;
  }
  .botoes {
    display: none;
  }

  .hamburger {
    display: block;
    font-size: 28px;
    background: none;
    border: none;
    cursor: pointer;
    color: #000;
  }

  .menuMobile {
  position: fixed;
  top: 12vh;
  right: 20px;
  background: white;
  z-index: 10;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;

  border-bottom: 1px solid #ddd;
  .linkvoluntarioM, .linkHomeM{
    color: #000;
    padding: 5px;
  }
}
}

